<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Website </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href='/'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body> 
 

 <div class="container"> 
     <h1> List of Todos Updated</h1>
     
      <ul>
     {{#each todos}}
         
         <li> 
        <span id="delete">
            <form method="POST" action="/todos/{{_id}}?_method=DELETE">
           <button href="/todos/{{_id}}"></button> <i class="fa fa-trash" aria-hidden="true"></i> </button> </form> </span>
         Title : {{text}} Completed: {{completed}}  
        <a href="/todos/{{_id}}/edit"> Edit</a>
        </li>
     {{/each}} 
     </ul>
     
 </div>
 <div class="newTodo">
     <form action="/todos" method="POST">
     <h2> New Todo <i class="fa fa-plus" aria-hidden="true"></i> </h2>
    <input type="text" name="text" placeholder="New Todo">
    <button> New Todo </button>
    </form>
 </div>
    
 
 <footer>
     <p> Created by Alejo Coy @2018 </p>
 </footer>
 </body>
 
 </html>
